127.0.0.1       localhost localhost.localdomain
{% if configurazione | json_query('servers[?contains(@.name, \'-cti\') == `true`]') | length > 0 or configurazione | json_query('servers[?contains(@.name, \'-ipt\') == `true`]') | length > 0 or configurazione | json_query('servers[?contains(@.name, \'-msa\') == `true`]') | length > 0 or configurazione | json_query('servers[?contains(@.name, \'-stc\') == `true`]') | length > 0 %}
####################################################################################
#                 SISTEMA CONTACT
####################################################################################
{% for item in configurazione | json_query('servers') %}
{% if item.name is search ("-cti*|-ipt*|-msa*|-stc*") %}
{{ item.ip }}   {{ item.name }}.{{ configurazione | json_query('domain') }}   {{ item.name }} {% if item.name is search ("-cti1") %} redis-host  cti-host{% endif %} {% if item.name is search ("-stc1") %}easycim.ct6service.reitek.com{% endif %} 
{% endif %}
{% endfor %}
{% endif %}

{% if configurazione | json_query('servers[?contains(@.name, \'-ecas\') == `true`]') | length > 0 %}
####################################################################################
#                 APPLICATIVI EASYCIM
####################################################################################
{% for item in configurazione | json_query('servers') %}
{% if item.name is search ("-ecas*") %}
{{ item.ip }}   {{ item.name }}.{{ configurazione | json_query('domain') }}   {{ item.name }} {% if item.name is search ("-ecas1") %} easycim.callback.service easycim.callback.services.reitek.com easycim.services.reitek.com ec-host easycim3-host easycim3.services.reitek.com easyintegration.reitek.com {% endif %} {% if item.ip == ansible_default_ipv4.address %} phantomjs-hosts {% endif %}
{% endif %}
{% endfor %}
{% endif %}

{% if configurazione | json_query('servers[?contains(@.name, \'-bal\') == `true`]') | length > 0 %}
####################################################################################
#                 BALANCER
####################################################################################
{% for item in configurazione | json_query('servers') %}
{% if item.name is search ("-bal*") %}
{{ item.ip }}   {{ item.name }}.{{ configurazione | json_query('domain') }}   {{ item.name }} 
{% endif %}
{% endfor %}
{% endif %}

{% if configurazione | json_query('servers[?contains(@.name, \'-ecdb\') == `true`]') | length > 0 %}
####################################################################################
#                 DATABASE
####################################################################################
{% for item in configurazione | json_query('servers') %}
{% if item.name is search ("-ecdb*") %}
{{ item.ip }}   {{ item.name }}.{{ configurazione | json_query('domain') }}   {{ item.name }} 
{% endif %}
{% endfor %}
{% endif %}

{% if configurazione | json_query('servers[?contains(@.name, \'-rec\') == `true`]') | length > 0  or configurazione | json_query('servers[?contains(@.name, \'-erep\') == `true`]') | length > 0%}
####################################################################################
#                 REGISTRATORI
####################################################################################
{% for item in configurazione | json_query('servers') %}
{% if item.name is search ("-erep*|-rec*") %}
{{ item.ip }}   {{ item.name }}.{{ configurazione | json_query('domain') }}   {{ item.name }} 
{% endif %}
{% endfor %}
{% endif %}

{% if configurazione | json_query('servers[?contains(@.name, \'-as\') == `true`]') | length > 0 %}
####################################################################################
#                 CUSTOM SERVER
####################################################################################
{% for item in configurazione | json_query('servers') %}
{% if item.name is search ("-as*") %}
{{ item.ip }}   {{ item.name }}.{{ configurazione | json_query('domain') }}   {{ item.name }} 
{% endif %}
{% endfor %}
{% endif %}

{% if configurazione.virtual_ip is defined %}
####################################################################################
#                 VIRTUAL IP
####################################################################################
{% for item in configurazione | json_query('virtual_ip') %}
{{ item.ip }}    {{ item.name }}
{% endfor %}
{% endif %}
