127.0.0.1       localhost localhost.localdomain

####################################################################################
#                 SISTEMA CONTACT
####################################################################################
{% for item in configurazione | json_query('servers') %}
{% if item.name is search ("-cti*|-ipt*|-msa*|-stc*") %}
{{ item.ip }}   {{ item.name }}.{{ configurazione | json_query('domain') }}   {{ item.name }} {% if item.name is search ("-cti1") %} redis-host  cti-host{% endif %} {% if item.name is search ("-stc1") %}easycim.ct6service.reitek.com{% endif %} 
{% endif %}
{% endfor %}

####################################################################################
#                 APPLICATIVI EASYCIM
####################################################################################
{% for item in configurazione | json_query('servers') %}
{% if item.name is search ("-ecas*") %}
{{ item.ip }}   {{ item.name }}.{{ configurazione | json_query('domain') }}   {{ item.name }} {% if item.name is search ("-ecas1") %} easycim.callback.service easycim.callback.services.reitek.com easycim.services.reitek.com ec-host easycim3-host easycim3.services.reitek.com easyintegration.reitek.com {% endif %} {% if item.ip == ansible_default_ipv4.address %} phantomjs-hosts {% endif %}
{% endif %}
{% endfor %}

####################################################################################
#                 BALANCER
####################################################################################
{% for item in configurazione | json_query('servers') %}
{% if item.name is search ("-bal*") %}
{{ item.ip }}   {{ item.name }}.{{ configurazione | json_query('domain') }}   {{ item.name }} 
{% endif %}
{% endfor %}

####################################################################################
#                 DATABASE
####################################################################################
{% for item in configurazione | json_query('servers') %}
{% if item.name is search ("-ecdb*") %}
{{ item.ip }}   {{ item.name }}.{{ configurazione | json_query('domain') }}   {{ item.name }} 
{% endif %}
{% endfor %}

####################################################################################
#                 REGISTRATORI
####################################################################################
{% for item in configurazione | json_query('servers') %}
{% if item.name is search ("-erep*|-rec*") %}
{{ item.ip }}   {{ item.name }}.{{ configurazione | json_query('domain') }}   {{ item.name }} 
{% endif %}
{% endfor %}

####################################################################################
#                 CUSTOM SERVER
####################################################################################
{% for item in configurazione | json_query('servers') %}
{% if item.name is search ("-as*") %}
{{ item.ip }}   {{ item.name }}.{{ configurazione | json_query('domain') }}   {{ item.name }} 
{% endif %}
{% endfor %}

####################################################################################
#                 VIRTUAL IP
####################################################################################
{% for item in configurazione | json_query('virtual_ip') %}
{{ item.ip }}    {{ item.name }}
{% endfor %}
